
.text{
	color:red;
	font-size:25px;
	border:2px solid aqua;
	/*margin-top:20px;
	margin-right:20px;
	margin-bottom:30px;
	margin-left: 30px;*/
	/*margin:20px 30px;
	padding-top:20px;
	padding-right:30px;
	padding-bottom: 60px;
	padding-left: 50px;	
	padding:20px 30px 60px 50px;*/
/*	text-align: center;*/
}
.image1{
	height: 80px;

}
.logo{
	width:200px;
}
.text2{
	color: blue;
	border:2px solid green;
	margin-top:50px;
	/*padding-left: 30px;*/
	/*display: inline-block;*/
	color:#363E97;
}

#sport{
/*	background-color: rgb(204, 0, 82);*/
}
.image{
	width: 100%;
}
/*.container{
	background-color: red;
}
.container-fluid{
	background-color: aqua;
}*/
.bg1{
	background-color: yellow;
}
.bg2{
	background-color: red;
}
a{
	text-decoration: none!important;
}
.test{
	display: inline;
	/*font-family: "ALK Rex Bold", sans-serif;*/
}
/*.navigation-li{
	display: inline-block;
}*/
.test2{
	font-family: 'ALK Rounded Nusx Med', sans-serif;
}
.test3{
/*	font-family: 'Dokdo', cursive;
	font-family: 'Dokdo';*/
	font-style: italic;
	font-size: 40px;
	font-weight: 900;

}
.fa-facebook-f{
	font-size: 30px;
	color: red;
}
.fa-google-plus-g{
	font-size: 50px;
	color: green;
}
